<!-- dinosoar/templates/alberto.html -->

{% extends "base.html" %}
{% load dinotags %}

{% block content %}

<h1>Albertosaurus</h1>

<p>
  Albertosaurus ('Alberta lizard') is a smaller cousin of
  the T-Rex. These dinosaurs were named after the location
  of their first discovery, Alberta, Canada.

</p>

<p>
  The nth letters of our dinosaur variable are:
  <ul>
    <li> 3rd: "{{dinosaurs|nth_letters:3}}"</li>
    <li> 5th: "{{dinosaurs|nth_letters:5}}"</li>
    <li> 10th: "{{dinosaurs|nth_letters:10}}"</li>
  </ul>
</p>

{% endblock content %}
